.sidebar {
    background-color: #040E13;
    border: 0.75px solid rgba(251, 251, 251, 0.05);
    padding: 34px 28px 24px;
}

.sidebar .heading .logo {
    background-color: #031925;
    border: 1px solid rgba(251, 251, 251, 0.05);
}

.sidebar .heading h6 {
    color: #c0c0c0;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.sidebar .me {
    background-color: #031925 !important;
    border: 1px solid rgba(251, 251, 251, 0.05);
    padding: 27px;
}

.sidebar .me .img {
    border: 1px solid rgba(251, 251, 251, 0.05);
}

.sidebar .me .content span {
    color: #8E8E8E;
    font-size: 12px;
}

.sidebar .me .content .location .icon {
    color: #00aaff;
}


.sidebar .menu .menu-icon {
    opacity: .5;
    color: #00aaff;
    transition: .2s;
}

.sidebar .menu a {
    transition: .2s;
    color: rgb(249 249 249 / 50%);
}

.sidebar .menu li:hover .menu-icon {
    opacity: 1;
}

.sidebar .menu li:hover a {
    color: #fff;
}

.sidebar .menu li .active {
    background: rgba(0, 170, 255, 0.1);
    border: 0.75px solid #00aaff89;
    color: #fff !important;
}

.sidebar .menu li .active .menu-icon {
    opacity: 1 !important;
}

.sidebar .footer .left,
.sidebar .footer .right {
    background: rgba(0, 170, 255, 0.1);
    border: 0.75px solid rgba(251, 251, 251, 0.05);
}

.sidebar .footer .left a {
    color: rgba(249, 249, 249, 0.7);
    transition: .4s;
}

.sidebar .footer .left a:hover {
    color: #00aaff;
    transform: scale(1.3);
}

.sidebar .footer .right span {
    color: rgb(249 249 249 / 70%);
    font-size: 14px;
}